@{
    ViewBag.Title = "NextToSolve";
}

<br />
<br />
<div class="jumbotron">
    <h2><b>NextToSolve</b></h2><br />
    <p>
        <b>What is NextToSolve?</b><br />

        NextToSovle is a platform where problems of <a href="http://codeforces.com/">Codeforces</a> are presented
        according to difficulty. The problems are divided in different tags (36 in total). <br />
        Given your CodeForces handle, you can use this site to solve CodeForces problems you have not solved,
        matching your programming skill level.<br /><br />
    </p>
    <p>
        <b>How to use it?</b><br />
        From the practice tab you can browse all the problems. Enter your CodeForces handle to get problems suited
        your skill. After solving a problem, refresh to update the page.<br />
        From the compare tab you can compare any number of CodeForces users!<br/><br />

    </p>
    <b>Happy Coding!</b>

</div>